{% extends 'global/base.html' %}
{% block content %}
	<!-- area do banner -->
	{% include 'global/partials/banner.html' %}
	<div>
		<div>
			<h2 class="h2-sobre">Objetivo</h2>
			<P class="p-sobre"> A System Corporation foi fundada em 2021, com o objetivo de rastrear
				veículos furtados ou roubados, desde lá já localizamos milhares de veículos pelo
				Brasil. A System Corporation tem como o objetivo pegar uma parte do mercado
				pouco explorada na época e colaborar para que um problema tivesse uma solução,
				então foi desenvolvido em 2022 o localizando, um software eficiente com
				foco total em localização de veículos roubados ou furtados.
			</P>
		</div>

		<div>
			<h2 class="h2-sobre">Descrição da nossa empresa</h2>
			<P class="p-sobre">System Corporation é uma empresa que foi criada em 2021 para satisfazer a
				demanda de criação de softwares de rastreio de veículos.
				Esta empresa teve crescimento moderado com um aumento no
				número de contratos a partir de 2022, em função do aquecimento do mercado de
				seguros. As projeções indicam uma demanda crescente pelo tipo de produto que a
				empresa desenvolve.
				system corporation mantém uma margem competitiva através do alto rastreamento
				de veículos, de excelentes
				relações com os clientes e de sua capacidade de se adequar às suas necessidades.
				A empresa está instalada estrategicamente em uma escritório na zona sul de são
				paulo e deseja satisfazer a demanda
				crescente por seus clientes
			</P>
		</div>

		<div>
			<h2 class="h2-sobre">Missão</h2>
			<P class="p-sobre">Reduzir o número de roubos e furtos de veículos com tecnologia, inteligência e
				eficiência.
			</P>
		</div>

		<div>
			<h2 class="h2-sobre">Visão</h2>
			<P class="p-sobre">Nosso foco é expandir a empresa com diversas filiais pelo mundo nos tornando
				a maior no ramo de rastreamento.
			</P>
		</div>

		<div>
			<h2 class="h2-sobre">Valores</h2>
			<P class="p-sobre">Ética, segurança, responsabilidade, Paixão,
			</P>
		</div>
	</div>
{% endblock content %}