{% extends 'global/base.html' %}
{% load static %}

<!-- area do banner -->
{% block content %} 
{% include 'global/partials/banner.html' %}
<form class="form" action="{% url 'main:login_auth' %}" method="POST">
	{% csrf_token %}
    <div class = "card">
        <div class="card-top">
            <img class= "img-login" src="{% static 'global/img/user.png' %}" alt="">
            <h2 class="h2-login"> Acessar conta</h2>
            <p class="p-login"> Preencha seus dados</p>
			{% include 'global/partials/messages.html' %}

        </div>
		<div class="card-group">
			<label>Email</label>
			<input type="text" name="email" placeholder="Digite seu email" autocomplete="off" required>
		</div>
		<div class="card-group">
			<label>Senha</label>
			<input type="password" name="password" placeholder="Digite sua senha" required>
		</div>
		<div class="card-group">
			<label for="remember-me" style="display: inline;">Lembre-me</label>
			<input type="checkbox" id="remember-me" name="remember-me" style="height: 1rem; width: 1rem;">
		</div>
		<div class="card-group">
			<button type="submit">Acessar</button>	
		</div>
    </div>
</form>
{% endblock content %}