{% extends 'global/base.html' %}
{% load static %}
{% block content %}
	<!-- area do banner -->
	<div class="banner">
		<img class="image-banner-curto" src="{% static 'main/img/baner-curto.jpg' %}">
	</div>
	<div>

		<div>
			<h2 class="h2-sobre">Objetivo</h2>
			<P class="p-sobre"> A System Corporation tem como o objetivo pegar uma
				parte do mercado pouco explorada e colaborar para que o problema de rastreios de veiculos tenha uma
				solução, Criar um software que possibilite o rastreio e localização de veículos em qualquer lugar do
				mundo e atender as necessidades do mercado
			</P>
		</div>

		<div>
			<h2 class="h2-sobre">Descrição da nossa empresa</h2>
			<P class="p-sobre">System Corporation é uma empresa que foi criada em 2021 para satisfazer a demanda de
				criação de softwares de rastreio de veículos.
				Esta empresa teve crescimento moderado com um aumento no
				número de contratos a partir de 2022, em função do aquecimento do mercado de seguros. As projeções
				indicam uma demanda crescente pelo tipo de produto que a empresa desenvolve.
				system corporation mantém uma margem competitiva através do alto rastreamento de veiculos, de excelentes
				relações com os clientes e de sua capacidade de se adequar às suas necessidades.
				A empresa está instalada estrategicamente em uma escritorio na zona sul de são paulo e deseja satisfazer
				a demanda
				crescente por seus clientes

			</P>
		</div>

		<div>
			<h2 class="h2-sobre">Missão</h2>
			<P class="p-sobre">Reduzir o número de roubos e furtos de veículos com tecnologia, inteligência e
				eficiência, atender cada vez mais as necessidades do mercado e Satisfazer seus clientes.
			</P>
		</div>

		<div>
			<h2 class="h2-sobre">Vissão</h2>
			<P class="p-sobre">Nosso foco é expandir a empresa com diversas filiais pelo mundo nos tornando a maior no ramo de rastreamento.
			</P>
		</div>

		<div>
			<h2 class="h2-sobre">Valores</h2>
			<P class="p-sobre">Ética, segurança, responsabilidade, Paixão, inteligência, eficiência e vissão
			</P>
		</div>
	</div>
{% endblock content %}