{% load static %}
<footer class="footer">
    <div class="conteudo">
        <div>
            <p class="copy">Fale conosco</p>
        </div>

        <div class="social">
            <a href="https://pt-br.facebook.com/" class="icon-facebook" target="_blank"
                title="https://pt-br.facebook.com/">
                <img src="{% static 'main/img/facebook.png' %}">
            </a>

            <a href="https://twitter.com/login?lang=pt" class="icon-twitter" target="_blank"
                title="https://twitter.com/login?lang=pt">
                <img src="{% static 'main/img/twitter.png' %}">
            </a>

            <a href="https://www.youtube.com/" class="icon-youtube" target="https://www.youtube.com/">
                <img src="{% static 'main/img/youtube.png' %}">
            </a>

            <a href="https://www.whatsapp.com/?lang=pt_br" target="_blank" class="icon-whats"
                title="https://www.whatsapp.com/?lang=pt_br">
                <img class="wh" src="{% static 'main/img/whats.png' %}">
            </a>

            <a href="https://outlook.live.com/owa/" class="icon-email" target="_blank"
                title="https://outlook.live.com/owa/">
                <img src="{% static 'main/img/email.png' %}">
            </a>
        </div>

        <div>
            <a href="https://github.com/Tkxcbj/Projeto_em_gestao_de_sistema" class="fale-conosco">System Corporation - todos os direitos reservados!!</a>
        </div>
    </div>
</footer>