{% load static %}
<meta charset="utf-8">

<!-- deixa o site responsivo -->
<meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1">

<meta name="keywords" content="curso de css3, curso gratuito,">

<meta name="description" content="curso intensivo de css3 gratuito online via computador">

<link rel="shortcut icon" type="image/x-icon" href="{% static 'main/img/SystemCorporation.png' %}" />

<link href="{% static 'main/css/main.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'main/css/test.css' %}" rel="stylesheet" type="text/css" />
<title>System Corporation</title>
