{% load static %}
<div class="info-car-container">
    <div class="info-car-content">
      <div class="item-veiculo">
         <div class="item-titulo">Empresa</div>
         <div class="item-texto">{{ resultado.empresa }}</div>
      </div>
        <img src="{{ resultado.foto_carro.url }}">
        <div class="item-veiculo">
         <div class="item-titulo">Modelo</div>
         <div class="item-texto">{{ resultado.modelo }}</div>
      </div>
         <div class="item-veiculo">
            <div class="item-titulo">Proprietario</div>
            <div class="item-texto">{{ resultado.proprietario}}</div>
         </div>
         <div class="item-veiculo">
            <div class="item-titulo">Pais/Placa</div>
            <div class="item-texto">{{ resultado.pais }}</div>
            <div class="item-texto">{{ resultado.placa }}</div>
         </div>
         <div class="item-veiculo">
            <div class="item-titulo">Numero do Chassi</div>
            <div class="item-texto">{{ resultado.num_chassi }}</div>
         </div>
         <div class="item-veiculo">
            <div class="item-titulo">Última Localização</div>
            <div class="item-texto">Av. Paulista Nº359</div>
         </div>
            <a href="{% url 'main:pesquisa_avancada' %}" class="btn-limpar">limpar</a>
    </div>
</div>