<div class="usuario">
    {% if not completo %}
        <a href="{% url 'main:usuario_detalhado' usuario.id %}" class='usuario-link'>
            <div class="usuario-nome">
                <div>{{ usuario.nome }}</div>
            </div>
        </a>
    {% else %}
        <a href="{% url 'main:usuarios_lista' %}" class="btn-voltar">◀</a>
        <div style='margin-bottom: 1rem;'>
            <div>{{ usuario.nome }}</div>
        </div>
        <a href="#" class="btn-apagar">Apagar Usuario</a>
    {% endif %}
</div>