{% extends 'global/base.html' %}
{% load static %}
{% block content %}
	<div class="banner">
		<img class="image-banner-curto" src="{% static 'main/img/baner-curto.jpg' %}">
	</div>

	<form class="form" action="{% url 'veiculos:veiculo_cadastro_auth' %}" method="post" enctype="multipart/form-data">
		{% csrf_token %}
		<div class = "card destaque">
			<div class="card-top">
				<a href="{% url 'veiculos:veiculos' %}" class="btn-voltar">◀</a>
				<img class= "img-login" src="{% static 'main/img/user.png' %}" alt="">
				<h2 class="h2-login"> Cadastro de Novos Veículos</h2>
				<p class="p-login">Empresa: {{ empresa }}</p>
				{% include 'main/partials/menssage.html' %}
	
			</div>
			{% for form in forms %}
				<div class="card-group">
					{{ form.label}}
					{{ form }}
				</div>
			{% endfor %}
			<div class="card-group">
				<button type="submit">Cadastrar</button>	
			</div>
		</div>
	</form>
{% endblock content %}