{% extends 'global/base.html' %}
{% load static %}
{% block content %}
	<div class="banner">
		<img class="image-banner-curto" src="{% static 'main/img/baner-curto.jpg' %}">
	</div>

	<form class="form" action="{% url 'veiculos:edit_auth' vehicle.placa %}" method="post" enctype="multipart/form-data">
		{% csrf_token %}
		<div class = "card destaque">
			<div class="card-top">
				<a href="{% url 'veiculos:complete_vehicle' vehicle.placa %}" class="btn-voltar">◀</a>
				<img class= "img-login" src="{% static 'main/img/user.png' %}" alt="">
				<h2 class="h2-login"> Editar Veículo</h2>
				<p class="p-login">Empresa: {{ business }}</p>
				{% include 'main/partials/menssage.html' %}
	
			</div>
			<div class="card-group">
				<label>Nome do Proprietario</label>
				<input type="text" name="proprietario" value="{{ vehicle.proprietario }}" required>
			</div>
			<div class="card-group">
				<label>Modelo do Veiculo</label>
				<input type="text" name="modelo" value="{{ vehicle.modelo }}" placeholder="Digite o nome do proprietario" required>
			</div>
			<div class="card-group">
				<label>Cor</label>
				<input type="text" name="cor" value="{{ vehicle.cor }}" placeholder="Digite a cor do veículo" required>
			</div>
			<div class="card-group">
				<label>Número da placa</label>
				<input type="text" name="placa" value="{{ vehicle.placa }}" placeholder="Digite a placa do veículo" required>
			</div>
			<div class="card-group">
				<label>Foto do veículo</label>
				<input type="file" name="foto" accept="image/*">
				<span class="help-text">Se não for colocada nenhuma foto vai permanecer a antiga</span>
			</div>
			<div class="card-group">
				<button type="submit">Editar</button>	
			</div>
		</div>
	</form>
{% endblock content %}