{% extends 'global/base.html' %}
{% load static %}
{% block content %}
<div class="banner">
    <img class="image-banner-curto" src="{% static 'main/img/baner-curto.jpg' %}">
</div>

<div class="destaque historico-container">
    <a href="{% url 'veiculos:veiculos' %}" class="btn-voltar">◀</a>
    <div class="card-top">
        <div class="historico-placa">
            <div>Placa</div>
            <div>{{ license_plate }}</div>
        </div>
    </div>
    <table style='width: 100%;'>
        <thead>
            <tr>
                <th>Data</th>
                <th>Local</th>
            </tr>
        </thead>
        <tbody>
            {% for time, local in streets.items %}
                <tr class="table-line">
                    <td class="table-content">{{ time }}</td>
                    <td class="table-content">{{ local }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}