{% extends 'global/base.html' %}
{% load static %}
{% block content %}
<div class="banner">
    <img class="image-banner-curto" src="{% static 'main/img/baner-curto.jpg' %}">
</div>
<div class="pesquisa-container">
    <form action="" class="pesquisa-placa">
        <div class="barra-pesquisa">
            <input type="search" name="placa" placeholder="Digite a placa do veiculo" autocomplete="off">
            <button type="submit">🔍</button>
        </div>
    </form>
    <div class="mapa-container">
    <div class="card destaque mapa-content">  
        <img src="/media/main/mapa/mapa.jpg" alt="Imagem do mapa" class="map">
    </div>
    <div style='position: relative; overflow-x: clip;'>
        <div class="empresa-nome">
            <span>Mirage Seguros</span>
        </div>
        {% include 'veiculos/partials/info_veiculo.html' %}
    </div>
    </div>
</div>
{% endblock content %}
{% comment %} MELHORAR ESSE JS, E MUDAR ELE DE LUGAR {% endcomment %}
{% block script %}<script src="{% static 'main/js/test.js' %}"></script>{% endblock script %}
