{% extends 'global/base.html' %}
{% load static %}
{% block content %}
{% include 'global/partials/banner.html' %}
<div class="pesquisa-container">
    <form action="" class="pesquisa-placa">
        <div class="barra-pesquisa">
            <input type="search" name="placa" placeholder="Digite a placa do veiculo" autocomplete="off">
            <button type="submit">🔍</button>
        </div>
    </form>
    <div class="mapa-container">
    <div class="card destaque mapa-content">  
        <img src="/media/main/mapa/mapa.jpg" alt="Imagem do mapa" class="map">
    </div>
    <div style='position: relative; overflow-x: clip;'>
        <div class="empresa-nome">
            <span>Mirage Seguros</span>
        </div>
        {% include 'veiculos/partials/vehicle_info.html' %}
    </div>
    </div>
</div>
{% endblock content %}

