{% extends 'global/base.html' %}
{% load static %}
{% block content %}
	<div class="banner">
		<img class="image-banner-curto" src="{% static 'main/img/baner-curto.jpg' %}">
	</div>
	<div class="form">	
		<div class="card destaque">	
			{% if voltar %}
				<a href="{% url 'veiculos:veiculos' %}" class="btn-voltar">◀</a>
			{% endif %}
			<div class='card-empresa'>{{ empresa }}</div>	
			<div style="margin-top: 2rem;">
				{% include 'main/partials/menssage.html' %}
				<form action="">
					<div class="barra-pesquisa">
						<input type="search" name="pesquisa" id="usuario_pesquisa" placeholder="Digite a placa do veiculo" autocomplete="off">
						<button type="submit">🔍</button>
					</div>
				</form>
				<div class="card-top">
					<div>Placa</div>
					{% if veiculos %}
						{% for veiculo in veiculos %}
							{% include 'veiculos/partials/vehicle.html' %}
						{% endfor %}
					{% endif %}
				</div>
			</div>
			<a href="{% url 'veiculos:veiculo_cadastro' %}" class="btn-cadastro">✚ Novo veículo</a>
		</div>						
	</div>
{% endblock content %}
