<div class="usuario">
    {% if not complete %}
        <a href="{% url 'users:detailed_user' user.id %}" class='usuario-link'>
            <div class="usuario-nome">
                <div>{{ user.name }}</div>
            </div>
        </a>
    {% else %}
        <a href="{% url 'users:users' %}" class="btn-voltar">◀</a>
        <div style='margin-bottom: 1rem;'>
            <div>{{ user.name }}</div>
        </div>
        <button type="button" class="btn-apagar">Apagar Usuário</button>            
        </form>
    {% endif %}
</div>