@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
	/*este deixa todo o conteudo da pagina 
	como se estivese em uma caixa, ajudando
	na responsividade*/
	box-sizing: border-box;
	text-decoration: none;
}

body {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	background-color: #f0f0f0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Yanone Kaffeesatz', sans-serif;

	/* pode colocar a fonte assim tb: font-family: arial; */
	letter-spacing: 1.5px;

}

h2,
p {
	color: white;
}

/* aqui esta pegando a imagem e nao a class,
	pois a imagem nao vai ser utilizada em varias coisas*/
/*este comando deixa as imagems responsivas*/
img {
	display: block;
	/*largura maxima*/
	max-width: 100%;
}

/* MESSAGES */
.message {
	padding: 1rem;
	border: 1px solid var(--color-dark-text);
	border-radius: 4px;
	background: var(--color-gray-2);
	color: var(--color-dark-text);
}

.message-content {
	text-align: center;
}

.message-error {
	border: 1px solid var(--color-dark-text);
	background: var(--color-error-light);
	color: var(--color-error-dark);
	border-radius: 5px;
}

.message-sucess {
	border: 1px solid var(--color-success-dark);
	background: var(--color-success-light);
	color: var(--color-success-dark);
	border-radius: 5px;
}

.message-warning {
	border: 1px solid var(--color-warning-dark);
	background: var(--color-warning-light);
	color: var(--color-warning-dark);
	border-radius: 5px;
}

.message-alert {
	border: 1px solid var(--color-alert-dark);
	background: var(--color-alert-light);
	color: var(--color-alert-dark);
	border-radius: 5px;
}

.message-info {
	border: 1px solid var(--color-info-dark);
	background: var(--color-info-light);
	color: var(--color-info-dark);
	border-radius: 5px;
}

.message-debug {
	border: 1px solid var(--color-debug-dark);
	background: var(--color-debug-light);
	color: var(--color-debug-dark);
	border-radius: 5px;
}

.map {
	width: 100%;
	padding-right: -50;
}


.info_img {
	height: 200px;
	width: 500px;
}

.image-banner {
	height: 250px;
	width: 100%;
}

.header {

	height: 60px;
	/*aqui foi deixado para deixar mais
	 visivel a parte grafica, mais pode
	 tirar o background*/
}

.header .conteudo {
	display: flex;
	justify-content: space-between;

}

.header .conteudo {
	margin: 0;

}

.header .title {
	text-decoration: none;
	color: inherit;
}

.main .conteudo {
	margin: 5px;
	width: 99%;

}

.logo {
	margin-top: 10px;

}

.logo,
.icon-menu {
	margin: 5px 10px;
	color: blue;
}

.icon-menu {
	display: block;
	width: 30px;
	height: 30px;
	background: white;
	border-radius: 5px;
	cursor: pointer;
}

.nav {
	position: absolute;
	top: 45px;
	/*aqui o left -100% esta minimizando
	para fazer o efeito de transicao 
	juntamente com a classe .mostrar que
	 esta la no js*/
	left: -100%;
	width: 159px;
	transition: all 0.4s;

}

.menu {
	list-style: none;
	padding: 0;
	margin: 0;


}

.menu_link {
	display: block;
	padding: 4px;
	background: white;
	text-decoration: none;
	color: black;
	font-size: 13px;
	font-weight: bold;
}

.menu_link:hover,
.select {
	background: grey;
	color: black;

}

.cursos_titulo {
	color: white;
}

/*esta classe ajuda no menu amburguer ela
faz a alternancia para 0% juntamente com o
javaScript*/
.mostrar {
	left: 0%;
}

.banner {
	margin-top: -60px;
	z-index: -1000;
	position: relative;
	margin-bottom: 20px;


}

.image-banner-curto {
	height: 70px;
}

.conteudo1 {
	display: flex;
}

.banner .conteudo {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	color: white;
	transform: translateX(-50%) translateY(-50%);
	text-align: center;
	margin-top: 20px;
	margin-left: -20px;

}

.banner_txt {
	font-size: 10px;

}

.banner_titulo {
	margin-top: 100px;
	font-size: 18px;
	margin-bottom: 0;

}



.form {
	width: 400px;
	margin: auto;
	margin-top: 40px;
	margin-block-end: 40px;
}

.card {
	box-shadow: 1px 1px 5px #ccc;
	background-color: white;
	border-radius: 5px;
	padding: 30px;
}

.card-top {
	text-align: center;
}

.img-login {
	width: 50px;
	border-radius: 25px;
	display: inline;
	box-shadow: 0px 0px 5px #ccc;
}

.card-group {
	margin-bottom: 10px;
}

.card-group>button {
	background-color: grey;
	width: 100%;
	border-radius: 30px;
	padding: 10px;
	color: white;
	border: 0px;
	outline: 0px;
}

.card-group>label {
	width: 100%;
	color: rgb(75, 75, 75);
	display: block;
}

.card-group>input {
	border-radius: 5px;
	outline: 0;
	width: 100%;
	height: 30px;
	padding: 5px;
}

.h2-login {
	color: black;
}

.p-login {
	color: black;
}

.h2-sobre {
	color: black;
	margin-left: 5px;
}

.p-sobre {
	color: black;
	margin-left: 30px;
}

/* estilo coluna de artigos*/
.info_coluna {
	background: grey;
	color: white;
	/*este distancia os objetos*/
	padding: 10px;
	margin-bottom: 0px;
	margin-top: 20px;
	margin-right: 7px;

}


.info_txt {
	font-size: 13px;
	margin-bottom: 0px;
}



.section_titulo {
	font-size: 40px;
	color: black;
}

/* aqui foi deixado relativo para que a 
imagem podese ficar opaca*/
.cursos_coluna {
	position: relative;
	/*esta margem esta distanciando as
	umas das outras*/
	margin-bottom: 30px;
	margin-right: 7px;


}

/*este referece a parte opaca que 
tem nas imagems*/
/*na parte de cima foi deixada relativa
a imagem, e aqui ira definir as proprie
dades da opacidade*/
.cursos_descricao {
	position: absolute;
	top: 0;
	left: 0;
	color: white;
	/* este esta definindo a opacidade */
	background: rgba(0, 0, 0, 0.4);
	width: 60%;
	height: 100%;
	padding: 5px;

}

/*area de titulo dentro da area opaca*/
.cursos_titulo {
	font-size: 23px;
	margin: 5px 0;

}

.cursos_txt {
	font-size: 10px;
	color: white;
}

.cursos {
	text-align: center;
	font-size: 40px;

}



.menu_hamburguer {
	width: 20px;
	margin: 5px 5px;
}


/*este comando quer dizer que ele pega todas
as class com icon- e coloca - as nesta formatacao,
pra nao ficar fazendo uma por uma*/
.social [class^=icon-] {
	/*aqui define os blocos em linha*/
	display: inline-block;
	color: #333;
	font-size: 30px;
	text-decoration: none;
	background: white;
	padding: 15px;
	/*aqui aredondou a borda em 50% */
	border-radius: 50%;
	width: 50px;
	height: 50px;
	line-height: 40px;
}

.footer {
	background: black;
	color: white;
	padding: 10px;
	text-align: center;
	position: relative;
}

.footer .fale-conosco {
	position: absolute;
	bottom: .5rem;
	right: 1rem;
	color: white;
}

.hidden {
    display: none;
}

.help-text {
    color: gray;
    font-size: .8rem;
}
.mapa-container {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    margin: 0 auto;
    gap: 1rem;
}

.mapa-content {
    width: 100%;
    padding: 0;
}

.pesquisa-container {
    width: 82rem;
    margin: 1rem;
}

.map{
    background-image: url(https://files.tecnoblog.net/wp-content/uploads/2022/02/kiev-google-maps-2-700x417.png);
}

.pesquisa-placa {
    width: 30rem;
    margin: 1rem auto;
    margin-top: 0;
}

.empresa-nome {
    position: absolute;
    background: cornflowerblue;
    padding: 5rem 1rem 1rem 1rem;
    top: -4.2rem;
    padding-top: 1rem;
    border-bottom-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: fit-content;
}

.map-menu {
    position: absolute;
    width: 2rem;
    left: 1rem;
}

.open {
    font-size: 2.4rem;
    border: none;
    cursor: pointer;
    position: absolute;
    background: none;
}   

.close {
    color: red;
    border: none;
    font-size: 1.3rem;
    padding: 0;
    float: right;
    text-align: right;
}

.info-car-container {
    width: 100%;
    height: 22.9rem;
    margin-right: 0.5rem;
}

.info-car-content img {
    max-width: 100%;
    max-height: 18rem;
}

.info-car-content .btn-limpar {
    background: white;
    color: red;
    margin-top: 1rem;
    width: 100%;
    border: .1rem solid;
    border-radius: 0.5rem;
    padding: 0.2rem;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    display: block;
}

.item-veiculo {
    margin-bottom: 1rem;
    background: #dde1e7;
    border-radius: 6px;
    box-shadow: inset -3px -3px 7px #ffffffb0, 
    inset 3px 3px 5px rgb(94 104 121 / 69%);
}

.item-titulo {
    margin: .5rem 0; 
    text-align: center;
    border-radius: .3rem;
    border: .13rem solid cornflowerblue;
    border-top: 0;
    border-left: 0;
    background: white;
}

.item-texto {
    background: white;
    border: .1rem solid cornflowerblue;
    border-radius: .4rem;
    padding: .3rem;
    text-align: center;
}

.barra-pesquisa input,
.barra-pesquisa button {
    outline: none;
    background: none;
    border: none;
}

.barra-pesquisa {
    display: flex;
    border: .1rem solid black;
    border-radius: .5rem;
    padding: .1rem; 
    margin-top: .5rem;  
}

.barra-pesquisa input {
    padding: .3rem;
    width: 90%;
}

.barra-pesquisa:focus-within{
    background: white;
    border: cornflowerblue solid .1rem;
}

.barra-pesquisa button {
    cursor: pointer;
}

.usuario-nome{
    margin: 1rem;
    transition: all 300ms ease-in-out;
}

.usuario-nome:hover{
    color: white;
    background: cornflowerblue;
}

.btn-voltar {
    position: absolute;
    top: 0rem;
    left: 0.5rem;
    font-size: 1.5rem;
    color: cornflowerblue;
}

.btn-apagar {
    color: red;
    border: 0.1rem solid red;
    border-radius: 0.5rem;
    padding: 0.2rem 4rem;
    transition: all 300ms ease-in-out;
    cursor: pointer;
    width: 15rem;
}

.btn-apagar:hover {
    background: red;
    color: white;
}

.btn-historico {
    display: block;
    width: 15rem;
    margin: 0.5rem auto;
    border: 0.1rem solid dodgerblue;
    border-radius: 0.5rem;
    color: dodgerblue;
    transition: all 300ms ease-in-out;
}

.btn-historico:hover {
    color: white;
    background: dodgerblue;
}

.btn-editar {
    position: absolute;
    right: 0.5rem;
    color: #2E64AB;
    transition: all 300ms ease-in-out;
}

.btn-editar:hover {
    color: #4594FF;
    border-bottom: 0.1rem solid #4594FF;
}

.btn-editar img {
    width: 1rem;
    display: inline;
}

.usuario-link {
    color: inherit;
    text-decoration: none;
}

.usuario-nome {
    border: 0.1rem solid cornflowerblue;
    border-radius: 0.5rem;
    padding: 0.3rem;
    margin-top: 0.5rem;
    cursor: pointer;
}

.destaque {
    box-shadow: 9px 4px 11px 0px rgba(50, 50, 50, 0.66);
    position: relative;
    overflow: hidden;
}

.btn-cadastro {
    transition: all 100ms ease-in-out;
    text-decoration: none;
    color: #2E64AB;
    position: absolute;
    right: 1rem;
}

.btn-cadastro:hover {
    color: #4594FF;
    border-bottom: 0.1rem solid #4594FF;
}

.card-empresa {
    margin: 0 auto;
    border-top: 0;
    width: fit-content;
    border-radius: 0.5rem;
    position: absolute;
    top: -1rem;
    right: 0;
    left: 0;
    padding: 1rem;
    background: cornflowerblue;
    padding-top: 2rem;
}

/* ----------------------------------------------- */

.historico-container {
    width: 45rem;
    margin: 1rem auto;
    padding: 1rem;
}

.historico-placa {
    background: cornflowerblue;
    width: 30rem;
    margin: 1rem auto;
    margin-top: 0;
    border-radius: 0.7rem;
    color: white;
}

.table-line {
    margin-bottom: .5rem;
}

.table-content {
    text-align: center;
}
