.verification-container {
    display: none;
    background: white;
    width: 25rem;
    margin: 5rem auto;
    border-radius: 0.5rem;
}

.verification-content {
    text-align: center;
    align-items: center;
}

.verification-text {
    padding: 1.5rem
}

.button-box {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
}

.choice-button{
    border: 0.1rem solid #ACAFAC;
    border-left: none;
    border-bottom: none;
    padding: 0.5rem 0;
    transition: 200ms ease-in-out;
    transition-property: color, background-color;
}

.choice-button:hover {
    color: dodgerblue;
    background-color: #F4F3F2;
}

.choice-button-no {
    cursor: pointer;
}

.choice-button-yes {
    border-right: none;
}

.choice-button-yes:hover {
    color: orange;
}

.ch:checked + .verification-container{
    display: block;
}

/* Fazer um js para tirar classe destaque do card e fazer sobrepor como uma confirmação */