<div class="info-car-container">
    <div class="info-car-content">
        <img src="{{ vehicle.foto_carro.url }}">
        <div class="item-veiculo">
         <div class="item-titulo">Modelo</div>
         <div class="item-texto">{{ vehicle.modelo }}</div>
      </div>
         <div class="item-veiculo">
            <div class="item-titulo">Proprietario</div>
            <div class="item-texto">{{ vehicle.proprietario}}</div>
         </div>
         <div class="item-veiculo">
            <div class="item-titulo">Pais/Placa</div>
            <div class="item-texto">{{ vehicle.pais }}</div>
            <div class="item-texto">{{ vehicle.placa }}</div>
         </div>
         <div class="item-veiculo">
            <div class="item-titulo">Numero do Chassi</div>
            <div class="item-texto">{{ vehicle.num_chassi }}</div>
         </div>
         <div class="item-veiculo">
            <div class="item-titulo">Última Localização</div>
            <div class="item-texto">{{ street }}</div>
         </div>
            <a href="{% url 'veiculos:search' %}" class="btn-limpar">limpar</a>
    </div>
</div>