{% load static %}
<div class="usuario">
    {% if not completo %}
        <a href="{% url 'veiculos:complete_vehicle' veiculo.id %}" class='usuario-link'>
            <div class="usuario-nome">
                <div>{{ veiculo.placa }}</div>
            </div>
        </a>
    {% else %}
        <a href="{% url 'veiculos:veiculos' %}" class="btn-voltar">◀</a>
        <div style='margin-bottom: 1rem;'>
            <div>Proprietario</div>
            <div style="border-top: 0.1rem solid #357CFF;">{{ veiculo.proprietario }}</div>
        </div>
        <div style='margin-bottom: 1rem;'>
            <img src="{{ veiculo.foto_carro.url }}" alt="Imagem do veiculo rastreado">
        </div>
        <div style='margin-bottom: 1rem;'>
            <div>Modelo</div>
            <div style="border-top: 0.1rem solid #357CFF;">{{ veiculo.modelo }}</div>
        </div>
        <div style='margin-bottom: 1rem;'>
            <div>Cor</div>
            <div style="border-top: 0.1rem solid #357CFF;">{{ veiculo.cor }}</div>
        </div>
        <div style='margin-bottom: 1rem;'>
            <div>Pais</div>
            <div style="border-top: 0.1rem solid #357CFF;">{{ veiculo.pais }}</div>
        </div>
        <div style='margin-bottom: 1rem;'>
            <div>placa</div>
            <div style="border-top: 0.1rem solid #357CFF;">{{ veiculo.placa }}</div>
        </div>
        <div style='margin-bottom: 1rem;'>
            <div>Numero do Chassi</div>
            <div style="border-top: 0.1rem solid #357CFF;">{{ veiculo.num_chassi }}</div>
        </div>
        <a href="{% url 'veiculos:historico' veiculo.placa %}" class="btn-historico">Mostra Historico</a>
        <form action="{% url 'veiculos:delete' veiculo.placa %}" method="post">
            {% csrf_token %}
            <input class="btn-apagar" type="submit" value="Apagar Veiculo">
        </form>
        <a href="{% url 'veiculos:edit' veiculo.placa %}" class="btn-editar"><img src="{% static 'main/img/icoEdit.png' %}" alt="icone de edição">Editar Veículo</a>
    {% endif %}
</div>