<div class="info-car-container">
    <div class="info-car-content">
        <img src="{{ vehicle.photo_car.url }}">
        <div class="item-veiculo">
         <div class="item-titulo">Modelo</div>
         <div class="item-texto">{{ vehicle.model }}</div>
      </div>
         <div class="item-veiculo">
            <div class="item-titulo">Proprietario</div>
            <div class="item-texto">{{ vehicle.owner}}</div>
         </div>
         <div class="item-veiculo">
            <div class="item-titulo">Placa</div>
            <div class="item-texto">{{ vehicle.license_plate }}</div>
         </div>
         <div class="item-veiculo">
            <div class="item-titulo">Cor</div>
            <div class="item-texto">{{ vehicle.color }}</div>
         </div>
         <div class="item-veiculo">
            <div class="item-titulo">Última Localização</div>
            <div class="item-texto">{{ street }}</div>
         </div>
            <a href="{% url 'vehicles:search' %}" class="btn-limpar">limpar</a>
    </div>
</div>