{% load static %}
<div class="usuario">
    {% if not complete %}
        <a href="{% url 'vehicles:complete_vehicle' vehicle.license_plate %}" class='usuario-link'>
            <div class="usuario-nome">
                <div>{{ vehicle.license_plate }}</div>
            </div>
        </a>
    {% else %}
        <a href="{% url 'vehicles:vehicles' %}" class="btn-voltar">◀</a>
        <div style='margin-bottom: 1rem;'>
            <div>Proprietario</div>
            <div style="border-top: 0.1rem solid #357CFF;">{{ vehicle.owner }}</div>
        </div>
        <div style='margin-bottom: 1rem;'>
            <img src="{{ vehicle.photo_car.url }}" alt="Imagem do veiculo rastreado">
        </div>
        <div style='margin-bottom: 1rem;'>
            <div>Modelo</div>
            <div style="border-top: 0.1rem solid #357CFF;">{{ vehicle.model }}</div>
        </div>
        <div style='margin-bottom: 1rem;'>
            <div>Cor</div>
            <div style="border-top: 0.1rem solid #357CFF;">{{ vehicle.color }}</div>
        </div>
        <div style='margin-bottom: 1rem;'>
            <div>Pais</div>
            <div style="border-top: 0.1rem solid #357CFF;">{{ vehicle.country }}</div>
        </div>
        <div style='margin-bottom: 1rem;'>
            <div>placa</div>
            <div style="border-top: 0.1rem solid #357CFF;">{{ vehicle.license_plate }}</div>
        </div>
        <div style='margin-bottom: 1rem;'>
            <div>Numero do Chassi</div>
            <div style="border-top: 0.1rem solid #357CFF;">{{ vehicle.num_frame }}</div>
        </div>
        <a href="{% url 'vehicles:historic' vehicle.license_plate %}" class="btn-historico">Mostra Historico</a>
        <button class="btn-apagar" type="button">Apagar Veiculo</button>
        <a href="{% url 'vehicles:edit' vehicle.license_plate %}" class="btn-editar"><img src="{% static 'global/img/icoEdit.png' %}" alt="icone de edição">Editar Veículo</a>
    {% endif %}
</div>