{% extends 'global/base.html' %}
{% load static %}
{% block content %}
{% include 'global/partials/banner.html' %}

	<form autocomplete="off" class="form" action="{% url 'users:user_registration_auth' %}" method="POST">
		{% csrf_token %}
		<div class = "card destaque">
			<div class="card-top">
				<a href="{% url 'users:users' %}" class="btn-voltar">◀</a>
				<img class= "img-login" src="{% static 'global/img/user.png' %}" alt="">
				<h2 class="h2-login"> Cadastro de Novos Usuarios</h2>
				<p class="p-login">Empresa: {{ firm }}</p>
				{% include 'global/partials/messages.html' %}
	
			</div>
			{% for form in forms %}
				<div class="card-group">
					{{ form.label}}
					{{ form }}
				</div>
			{% endfor %}
			<div class="card-group">
				<button type="submit">Cadastrar</button>	
			</div>
		</div>
	</form>
{% endblock content %}